input {
  file {
    type => "syslog"
    path => [ "/var/log/messages", "/var/log/syslog", "/var/log/*.log" ]
  }
}

output {
  redis { 
    host => [{% for member in logstash_agent_redis_hosts %}"{{ member }}"{% if not loop.last %}, {% endif %}{% endfor %}] 
    data_type => "list" 
    key => "logstash" 
  }
}
